body
	{
		background: #FFFFFF;
	}
	.login-header img
	{

	}
	.input-holder
	{
		width: 100%;
		border: 1px solid #A4A4A4;
		margin: 16px;
	}
	.input-holder .form-control:focus
	{
		
	}
	.submit-holder
	{
		width: 100%;
		margin: 16px;
	}
	.signup-holder
	{
		width: 100%;
		margin: 16px;
	}
	.form-control
	{
		padding: 25px;
		width: 100%;
		border: none;
		background-color: transparent;
		border-radius: 1px;
		font-size: 16px;
	}
	.form-control:focus
	{
		outline: none;
		box-shadow: none;
		border-botom: 1px solid #000000;
		background-color: transparent;
	}
	.btn-submit
	{
		width: 100%;
		padding: 12px;
		border-radius: 1px;
	}

	.btn-sign
	{
		width: 100%;
		padding: 12px;
		border-radius: 1px;
	}
	.linediv
	{
		width:  100%;
		border-bottom: 1px solid #DADADA;
	}