* { box-sizing: border-box; }
body
	{
		background: #FFFFFF;
	}
	.login-header
	{
		background-color: #102026;
		height: 230px;
	}
	.login-container
	{
		width: 100%;
		clear: "";
		float: left;
		display: inline-block;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 30px;
		padding-right: 30px;
		border-radius: 20px;

	}
	.input-holder
	{
		width: 100%;
		margin-top: 25px;
		margin-bottom: 25px;
		border-bottom: 1px solid #A4A4A4;
	}
	.input-holder .form-control:focus
	{
		
	}
	.submit-holder
	{
		width: 100%;
		margin-top: 18px;
	}
	.signup-holder
	{
		width: 100%;
		margin-top: 18px;
	}
	.form-control
	{
		padding: 25px;
		width: 100%;
		border: none;
		background-color: transparent;
		border-radius: 1px;
		font-size: 16px;
		margin-left: auto;
		display: inline-block;
	}
	.form-control:focus
	{
		outline: none;
		box-shadow: none;
		border-botom: 1px solid #000000;
		background-color: transparent;
	}
	.btn-submit
	{
		width: 100%;
		padding: 12px;
		border-radius: 1px;
	}

	.btn-sign
	{
		width: 100%;
		padding: 12px;
		border-radius: 1px;
	}
	.linediv
	{
		width:  100%;
		border-bottom: 1px solid #DADADA;
	}