@import url('https://fonts.googleapis.com/css?family=Poppins');

* { box-sizing: border-box; }
html, body { margin: 0px; height: 100%; font-family: 'Poppins', sans-serif; color: #343434; background-color: #FFFFFF; }
.wrapper { min-height: 100%; -webkit-transition: all 1s; transition: all 1s; }
.footer { margin-top: 50px; background-color: #102026; border: 1px solid #102026; color: #898989; }
div {  -webkit-transition: all 1s ease-in-out; transition: all 1s ease-in-out;-moz-transition: all 1s ease-in-out;  }
.header-container
{
	background-color: #102026;
	border: 1px solid #102026;
	
}
.cccc
{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.navbar-light .navbar-nav .nav-link
{
	color: #FFFFFF;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover
{
	color: rgb(241, 196, 15);
}
.nav-link
{
	font-size: 15px;
}
.navbar-light .navbar-toggler
{
	border-color: rgb(255,255,255,1);
}
.fa-bars
{
	color: white;
}
.navbar-toggler-icon
{
	color: rgb(0,0,0,1);
}
button { outline: none; }
.this-is-active { color: #f1c40f; border-bottom: 2px solid #f1c40f; }
a.slinks { color: #898989; }
a.slinks:hover { text-decoration: none; color: #f1c40f; }

.navbar-nav .dropdown-menu
{

	border-radius: 1px;
}
.message
{
	position: fixed; 
	top: 20px;
	right: 55px; 
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 1px)
{
	.ratio {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 0;
		padding-bottom: 100%;
		position: relative;
		width: 100%;
		-webkit-transition: all 1s;
		transition: all 1s;
	}
	.content-image
	{
		padding-top: 15%;
		padding-right: 25%;
		padding-left: 25%;
		padding-bottom: 31px;
	}
	.content
	{
		
		margin-bottom: 21px;
	}
	.content-widget
	{
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;	
		border: 1px solid #CCCCCC;
		border-radius: 1px;
		background-color: #F2F2F2;
		
	}
	
	.content-widget:hover
	{
		-webkit-box-shadow: 0px 0px 68px -12px rgba(0,0,0,0.48);
		-moz-box-shadow: 0px 0px 68px -12px rgba(0,0,0,0.48);
		box-shadow: 0px 0px 68px -12px rgba(0,0,0,0.48);
		/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
		transition: box-shadow 0.1s ease-in;
	}
	.content-details
	{
		padding: 21px;
		border-top: 1px solid #8E8E8E;
	}
	.message
	{
		position: fixed;
		top: auto;
		bottom: 0px;
		text-align: center;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
{

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)
{

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{

}